<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EIDLoad</servlet-name>
        <servlet-class>EIDLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetails</servlet-name>
        <servlet-class>GetDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginValidation</servlet-name>
        <servlet-class>LoginValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpInfo</servlet-name>
        <servlet-class>EmpInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EIDLoad</servlet-name>
        <url-pattern>/EIDLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetails</servlet-name>
        <url-pattern>/GetDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginValidation</servlet-name>
        <url-pattern>/LoginValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpInfo</servlet-name>
        <url-pattern>/EmpInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
