.fromLeft
{
    display: flex;
    justify-content:flex-end; 
    width:100%;
}
.navbar-nav li
{
    margin: 5px;
}
body,html
{
   overflow-x:hidden;
   position:relative; 
   
}
.navbar-nav
{
    width: 100%;
}
 .fromLeft div a
     {
        margin:5px; 
     }
.navbar-nav li
     {
         transition: transform .3s ease;
     }
.navbar-nav li:hover
{
    transform: scale(1.1);
}
.fromLeft div a
{
     transition: transform 0.3s ease;
}   
.fromLeft div a:hover
{
       transform:scale(1.1);     
}
.fifthContainer
{
    background-color:white;
    padding: 15px;
}
.fifthContainer1
{
    text-align: center;
    margin: 15px;
}
.sideFifthContainer
{
    text-align: center;
}
.row
{
    margin: 0px;
}
.menuList
{
    background-color:rgba(0,0,0,0.6);
    height:550px;
}
.imgProfile
{
    border-radius:60px;
}
.menuHeader
{
    text-align: center;
}
.navbar
{
    width:100%; 
}
.row1
{
    padding:10px; 
}
.menu span
{
transition: transform 0.2s ease; 
display:inline-block;
font-size: 30px;
font-weight:bold;
}
.menu span img
{
   margin-left:6px;
   margin-right:6px; 
}
.card
{
  padding:10px;   
  box-shadow:0px 0px 15px 5px rgba(0,0,0,0.1);   
}

.card-header
{
 text-align:center;    
}
.menu span:hover
{
    transform:scale(1.1);
    cursor: pointer;
}
.row1
{
  border-bottom:1px solid black; 
}
.profileImage
{
    text-align:center; 
    color:white;
    font-size:20px;
    border-bottom:1px solid white; 
}
.profileImage p
{
    margin:10px; 
}
.menuitems
{
   text-align: center;
   color: white;
   font-size:20px;
   padding:20px;
}
.menuitems a
{
    color:white;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}
.menuitems a:hover
{
   color: white;
   text-decoration: none;
   transform:scale(1.1); 
}
.menuList
{
   position:absolute; 
   left:-55%;
   z-index:1; 
   overflow-y:scroll; 
}

.card-text,.card-header,.btn
{
    margin:0px;
    padding: 0px;
}

.card-body
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.mainContent
{
   padding:20px; 
   height:600px;
   width:100%;
   overflow-y:scroll;
}
html {
  overflow-y:   scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.profileContainer
{
    display:none; 
    padding:20px;
    margin:10px; 
    height:100%;
    width:100%;
}
.cardDecker
{
   display:flex;
   flex-wrap:wrap;
   flex-direction: row;
   height:100%;
   overflow-y:scroll; 
   justify-content:space-around;
   box-shadow:0px 0px 15px 5px rgba(0,0,0,0.1);    
}
.card
{
   max-width:200px;  
   margin:20px; 
}
.profileImage img
{
  border:1px solid white;  
}
.alert
{
    display: none;
}
.close:hover
{
    cursor:pointer; 
}
.sideContainer1,.sideContainer2,.sideContainer3
{
    margin: 20px auto;
    padding:10px; 
}
btn
{
    transition:transform 80ms ease-in-out;
}
.btn:active
{
    transform: scale(0.8);
}
.update
{
    height:200px;
    width:300px;
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    border:1px solid black;
    box-shadow:0px 0px 0px 100px rgba(0,0,0,0.6); 
    animation-name: animate;
    animation-timing-function: ease;
    animation-duration:0.2s; 
    display:none; 
    background-color:white; 
    border-radius:10px; 
}
.updateContent
{
    text-align: center;
    font-size:20px;
    font-weight:bold;
    margin:0px auto; 
    height:100%;
    width:100%; 
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center; 
}
@keyframes animate
{
  0%{opacity:0.2}
  25%{opacity:0.4}
  50%{opacity:0.6}
  70%{opacity:0.8}
  100%{opacity:1}
}
.specializationContainer
{
     display: none;
     height:100%;
     width: 100%;
     background-color:blueviolet; 
     overflow-y:scroll; 
}
.specializationOption
{
    display:flex; 
    flex-direction: column;
    height:100%;
    margin:0px auto;   
    color:white;
    text-align: center;
    font-size: 20px;
}
.con
{
   display: flex;
   flex-wrap:wrap;
   justify-content:space-around;
   align-items: center;
   width:100%;
   border-bottom:1px solid white    
}
.Img
{
    overflow:hidden; 
    margin:20px;
}
.icon
{
    border:1px solid black; 
    height:150px;
    width:150px; 
    border-radius:100px; 
    padding: 5px;
}
.myHospital
{
    min-width:300px; 
    border:1px solid gainsboro;
    box-shadow:0px 0px  10px 10px rgba(0,0,0,0.1);   
    margin:20px; 
    padding:10px; 
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}
.hospitalContent
{
    display:flex;
    flex-direction:column; 
    width:100%;
    height:100%; 
    color:black;
    font-size:20px;
    text-align: center;
    
}
.hospital_details
{
   display: flex;
   flex-wrap:wrap;
   justify-content: center;
   align-items: center;
   border-top:1px solid black; 
   background-color:#FB053C;
   border-radius: 10px;
}
.container1,.container2,.container3
{
 margin:20px;
 font-size:20px; 
 color:white; 
 border-radius: 10px;
}
.container1 p,.container2 p,.container3 p
{
  margin:10px;  
  text-align:left; 
}
.searchCotainer
{
   height:200px;
   width:100%; 
   border-bottom:1px solid black; 
}
.hospitalBodyContainer
{
   display:flex;
   flex-direction:column;
   height:100%;
   width:100%; 
}
.hospitalContainer
{
    height:100%;
    width:100%;
    overflow-y:scroll; 
    display: none;
}

.mapper
{
    transition:transform 80ms ease; 
    color:white; 
}
.mapper:hover
{
   transform:scale(1.2); 
   cursor: pointer;
}
.specializationMapper,.mainPageMapper,.doctorChoosingMapper,.appointmentChoosingMapper
{
    background-color:#FB053C;
    padding:10px;
    text-align: center;
    border-radius:10px; 
}
.eyeContainer,.earContainer,.diabetesContainer,.boneContainer,.childContainer,.hairContainer,.psychoContainer,.physioConatiner
{
   display: flex;
   flex-direction:column;
   justify-content: space-around;
   align-items: center;
   transition:box-shadow 80ms ease;
   cursor: pointer;
   background-color:white; 
   margin:10px; 
   border-radius:100px; 
}
.Opcontent
{
    color:black; 
    font-size:20px; 
}
.eyeContainer:hover,.earContainer:hover,.diabetesContainer:hover,.boneContainer:hover,.childContainer:hover,.hairContainer:hover,.psychoContainer:hover,.physioConatiner:hover
{
    box-shadow:0px 0px 20px 10px rgba(255,255,255,0.3);     
}
.searchCotainer
{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
   
}
.doctorContainer
{
   display:none;
   width:100%;
   height:100%;
}
.doctorContent
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    width:100%;
    height:100%;
    overflow-y: scroll;
}
.mydoctor
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    min-width:300px;
    background-color:#FB053C; 
    margin:30px;
    border-radius:15px; 
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.15);
}
.docImage
{
 background-color:white;  
 height:100%; 
 padding:15px; 
}
.doctorImageCss
{
   height:150px;
   width:150px;
   border-radius:100px;
   padding:5px; 
   border:7px solid rgba(0,0,0,0.2); 
}
.container4,.container5
{
  margin:20px;
  padding:10px ;
}
.container4 p,.container5 p
{
  margin:10px;
  font-size:20px;
  color:white; 
}
.appointmentMainContent
{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items:center;
  margin:20px;
  background-color: dodgerblue;
  border-radius:15px; 
  padding:20px; 
}
.appointmentContent
{
 width:100%;
 height:100%; 
 overflow-y:scroll; 
}
.appointmentDetail
{
   display:flex;
   flex-direction:column;
   padding:20px; 
   font-size:20px;
   
}
.prodocImage
{
   height:150px;
   width:150px;
   border-radius:100px;
   padding:5px; 
   border:7px solid rgba(0,0,0,0.2);  
}
.appointmentDetail div
{
   margin:10px;  
}
.appointmentDetailContainer
{
  margin:15px;
  background-color:white; 
  border-radius:15px; 
}
.docDetailContainer
{
  margin:15px;
  background-color:white; 
  border-radius:15px; 
}
.docDetail
{
  padding:15px;  
  font-size:20px; 

}
.appointmentDetailContainer h4
{
    border-bottom:1px solid white; 
    text-align:center; 
}
.docDetailContainer h4
{
    border-bottom:1px solid white;
    text-align:center; 
}
.appointmentContainer
{
   width:100%;
   height:100%; 
}
@media only screen and (max-width: 600px) {
     .menuList
     {
         z-index:1; 
     }
     .docImage
     {
       height:auto;   
     }
     *
     {
         font-size:20px; 
     }
     .appointmentMainContent
     {
       display:flex;
       flex-direction:column;
       flex-wrap:nowrap; 
     }
     body,html
     {
        overflow-y:scroll;   
     }
    .fromLeft
     {
         display: block;
         text-align: center;
     }
     .fromLeft div 
     {
       padding-left:0px;
       padding-right: 0px;
       display:block;
       width:100%;
       margin-bottom: 10px;
     }
    .navbar .navbar-nav .nav-item
    {
        border: 1px solid white;
    }
    .fromLeft div a
     {
        border: 1px solid white;
     }
     .nav-item
     {
         display: block;
         margin-bottom:7px; 
     }
     .navbar-nav
     {
         text-align: center;
     }
}



